*{
    margin:0;
    padding:0;
} 
.email{
    border: 3px #c0daee solid;
    box-shadow: 5px 5px 5px #d9f5fb;
    border-radius: 10px;
    margin: 20px auto;
    width:634px;
    background-image: linear-gradient(#ffffff,#8de1ff);
}
.introduce{
    top:0;
    left:0;
    height:40px;
    background: #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.part{
    
    display:flex;
    flex-direction: row;
    align-items: center;
}
.relif{
    height:27px;
    width:27px;
    border-radius:15px;
    margin: 5px 3px;
    background: url(Ellipse1.png) no-repeat;
}
.dog{
    height:27px;
    width:27px;
    border-radius:15px;
    margin: 5px 3px;
    background: url(195.png) no-repeat;
}
.banner{
    margin:auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #f7fdff;
    width:516px;
    height:43px;
    border-radius: 5px;
}
.banner p{
    margin:3px;
    width:30px;
    height:20px;
    background:white;
    font: 10px normal;
    border-radius: 15px;
}
p a:hover{
    color:#92f4ff;
}
.major{
    margin-top: 50px;
    height:50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.word{
    margin-left: 5px;
}
.picture{
    margin-right: 5px;
}
.box{
    width:550px;
    display:flex;
    flex-direction: row;
}
.sanjiao{
    display: flex;
    flex-direction: column;
    width:60px;
}
.box1{
    background: #e6f9fc;
    width:42px;
    height:24px;
    border-radius: 5px;
    margin-bottom: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.box2{
    background: #bef6ff;
    width:42px;
    height:24px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content:center;
}
.content{
    display: flex;
    flex-direction: column;
    width: 453px;
    height: 150px;
}
.box3{
    width:453px;
    height: 46px;
    margin-bottom: 5px;
    border-radius: 10px;
    background-image:linear-gradient(to right, #e6f9fc, #ffffff);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.box3 p{
    color: #d4d4d4;
    font-size: 5px;
}
.font{
    margin:auto;
}
.elephant{
    height:27px;
    width:27px;
    border-radius:15px;
    margin: 5px 3px;
    background: url(47.png) no-repeat;
}
.dead1{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.box4{
    width:453px;
    height: 46px;
    margin-bottom: 5px;
    border-radius: 10px;
    background-image:linear-gradient(to right, #e6f9fc, #ffffff);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.box4 p{
    color:#d4d4d4;
    font-size: 5px;
}
.sheep{
    height:27px;
    width:27px;
    border-radius:15px;
    margin: 5px 3px;
    background: url(217.png) no-repeat;
}
.dead2{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.box5{
    width:453px;
    height: 46px;
    border-radius: 10px;
    background-image:linear-gradient(to right, #e6f9fc, #ffffff);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.box5 p{
    color:#d4d4d4;
    font-size: 5px;
}
.beer{
    height:27px;
    width:27px;
    border-radius:15px;
    margin: 5px 3px;
    background: url(204.png) no-repeat;
}
.dead3{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.letter{
    width: 45px;
    height:20px;
    background: #8de1ff;
    border-radius: 5px;
    font-size: 2px;
    margin-left: 5px;
    align-self: flex-end;
}
.bottom{
    width:600px;
    height:20px;
    background:url(vetor.png) no-repeat;
}